{% extends 'hospital/hospitalindex.html' %}
{% block body %}
<body>
<form method="post" action="changepassword_postHOS">
<table class="table table-bordered">
  <tr>
    <td colspan="2">old password </td>
    <td>&nbsp;<input type="text" name="p1" required pattern="[A-Z a-z.]{3,25}"></td>
  </tr>
  <tr>
    <td colspan="2">new password </td>
    <td><input type="text" name="p2" required pattern="[A-Z a-z.]{3,25}"></td>
  </tr>
  <tr>
    <td colspan="2">confirm password </td>
    <td><input type="text" name="p3" required pattern="[A-Z a-z.]{3,25}"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input class="btn btn-info" type="submit" name="submit" value="Change" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
</body>
{% endblock %}