<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">

  <tr>
    <td><a href="/verifyhospital">Verify hospital</a></td>
  </tr> <tr>
    <td><a href="/admin_view_accepted_hospital">accepted hospital</a></td>
  </tr>

  <tr>
    <td><a href="/viewpatient">View patient</a></td>
  </tr>
  <tr>
    <td><a href="/ManageDepartment">Manage department</a></td>
  </tr>
  <tr>
    <td><a href="/viewcomplaints">View complaint and send reply</a></td>
  </tr>

</table>
</body>
</html>
