{% extends 'doctor/doctorindex.html' %}
{% block body %}
<body>
<form method="post" action="/changepassword_postDOC" enctype="multipart/form-data">
<table class="table table-bordered">
  <tr>
    <td>Current password </td>
    <td>&nbsp;<input  type="text" name="currentpassword" /></td>
  </tr>
  <tr>
    <td>New password </td>
    <td>&nbsp;<input  type="text" name="Newpassword" required /></td>
  </tr>
  <tr>
    <td>Confirm password </td>
    <td>&nbsp;<input  type="text" name="Confirmpassword" required /></td>
  </tr>
  <tr>
    <td><input class="btn btn-info" type="submit" name="Submit" value="Change
	" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
    </form>
</body>
{#</html>#}
{% endblock %}
