



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table class="table table-bordered">

  <tr>
    <td><a href="user/Bookappointment.html">Change Password</a></td>
  </tr>
  <tr>
    <td><a href="user/doctor.html">doctor</a></td>
  </tr>
  <tr>
    <td><a href="user/Review.html">review</a></td>
  </tr>
  <tr>
    <td><a href="user/Scheduleform.html">schedule</a></td>
  </tr>
  <tr>
    <td><a href="user/userform.html">View Rating</a></td>
  </tr>
  <tr>
{#    <td><a href="/viewhistory">View History</a></td>#}
  </tr>
  <tr>
    <td><a href="/">Log Out</a></td>
  </tr>
</table>
</body>
</html>
