
{% extends 'doctor/doctorindex.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/searchViewBookingHistory" method="post" />
<table class="table table-bordered">
  <tr>
    <td colspan="1"><p>Date:<td colspan="2"> <input type="date" name="textfield" class="form-control" /></td>


    <td>
      <input class="btn btn-info" type="submit" name="Submit" value="Search" />
</td>
  </tr>
  <tr>
    <td>Username</td>
    <td>Date</td>
    <td>Status</td>
    <td>Schedule</td>
  </tr>
    {% for i in val %}

  <tr>
    <td>&nbsp;{{ i.USER.name}}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.status }}</td>
    <td>FROM TIME:{{ i.SCHEDULE.fromtime}}<br>
    TO TIME:{{ i.SCHEDULE.totime}}</td>
  </tr>
    {% endfor %}
</table>
</body>
</body>
</html>
{% endblock %}