{% extends 'user/userindex.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/admin_search_doctor">
    <table class="table table-bordered">
{#  <tr>#}
{#    <td colspan="7"><p>Hosp :#}
{#        <select name="hos">#}
{#            {% for i in hos %}#}
{#            <option value="{{ i.id }}">{{ i.name }}#}
{##}
{#            </option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <input type="submit" name="Submit" value="Search" />#}
{#      </p></td>#}
{#  </tr>#}
  <tr>
    <td>Name</td>

      <td>Gender</td>
      <td>Date of birth</td>
      <td>Specilisation</td>
      <td>Qualification</td>
      <td>Department</td>

	</tr>

{% for i in doc %}
      <tr>
    <td>{{ i.name }}</td>
    <td>{{ i.gender }}</td>
    <td>{{ i.age }}</td>
    <td>{{ i.specialization }}</td>
          <td>{{ i.qualifiction }}</td>
    <td>{{ i.DEPARTMENT.department}}</td>
    <td><a href="/User_Scheduleform/{{ i.id }}" class="btn btn-info">Schedules</a> </td>
    <td><a href="/user_view_doctor_review/{{ i.id }}" class="btn btn-info">Review</a> </td>

      </tr>
 {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}