{% extends 'user/userindex.html' %}
{% block body %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="" name="form1" method="post" action="/Send_Complaint_post">
    <center>
          <table border="" class="table" >
    <tr>
      <td>Complaint</td>
      <td><label>
{#        <input type="text" name="textfield" class="form-control" />#}
        </label>
          <textarea class="form-control" name="textfield"></textarea>
      </td>
    </tr>
       <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Submit"class="btn btn-success" />
        </label>
      </td>
    </tr>
  </table>

    </center>
</form>
</body>
</html>

{% endblock %}
