{% extends 'user/userindex.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/user_view_hospital_serach" method="post">
<table>
      <td colspan="6">Name :
      <label for="textfield"></label>
      <p>
      </p>
    <p>
</p></td>
      <td>        <input type="text" name="textfield" id="textfield" class="form-control" />
</td>
      <td>      <input class="btn btn-info" type="submit" name="Submit" value="Submit" />
</td>
  </tr>
</table>
<table class="table table-bordered">
  <tr>

  <tr>
    <td>Name</td>
    <td>Place</td>
    <td>Phone</td>
    <td>Email</td>
    <td>Post</td>
  </tr>
    {% for i in val %}
  <tr>
    <td>{{ i.name }}</td>
    <td>{{ i.place }}</td>
    <td>{{ i.phone }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.post }}</td>

    <td><a href="http://maps.google.com?q={{ i.latitude }},{{ i.longitude }}#a" class="btn btn-info">Track</a></td>
      <td><a href="/user_view_doctor/{{ i.id }}#a" class="btn btn-info">Doctors </a></td>
  </tr>
    {% endfor %}


</table>
</form>
</body>
</html>
{% endblock %}